*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
        // <div class="stars">
        //     <i class="fa fa-star meet_stars" aria-hidden="true"></i>
        //     <i class="fa fa-star meet_stars" aria-hidden="true"></i>
        //     <i class="fa fa-star meet_stars" aria-hidden="true"></i>
        //     <i class="fa fa-star meet_stars" aria-hidden="true"></i>
        //     <i class="fa fa-star meet_stars" aria-hidden="true"></i>
        //   </div>
        //   <h1 class="meet_carusel_name my-3">Lorem ipsum dolor sit.</h1>
        //   <p class="meet_carusel_coment">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi quod harum libero! Ipsum velit labore animi deleniti voluptatem quam quaerat excepturi facilis, nobis, ipsa natus nam facere consequuntur mollitia voluptatum.</p>
        //   <div class="row mt-5">
        //     <div class="col-3">
        //       <img src="img/people1.png" alt="">
        //     </div>
        //     <div class="col-8">
        //       <h4 class="meet_carusel_name_name">Zoltah Nemath</h4>
        //       <p class="meet_carusel_name_info">CEO Pixler Lab</p>
        //     </div>  
        //   </div>

